.base-button{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

         
.gradient-base {
  background-image: linear-gradient(to right, #1c33ff 0%, #55da08  100%);
  color: #fff;
}

